
$color-orange: #F2C14E;
$color-winner: #2d414b;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $color-orange;
  font-family: 'Finger Paint', cursive;
  cursor: grab;

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #37505C;
    
    &__title {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    &__button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: $color-orange;
      color: #333;
      border: 1px solid $color-orange;
      font-size: 1.125rem;
      transition: transform 0.2s;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        transform: translateY(-0.125rem);
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-gap: 2px;
      margin-top: 2.5rem;
    }

    &__box {
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-orange;
      font-size: 4rem;
      border: 2px solid transparent;
      transition: background-color 0.3s;

      &:nth-child(3n) {
        border-right: none;
      }

      &:nth-child(n + 7) {
        border-bottom: none;
      }
    }
  }
}
